h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#inputFields {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  background: #FFE8C2;
}

#space {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.login {
  display: flex;
  text-align: center;
  width: 25%;
  height: 20%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 4px;
  background: white;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 200px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.signup {
  border-radius: 4px;
  background: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}



input {
  margin: 3px;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFE8C2;
}

#greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 500px;
}

.questionnaire {
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  width: 45%;
  height: auto;
  border-radius: 4px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: white;
  // padding-left: 5px;
  // padding-right: 5px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background: #fff;
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-entry {
  height: 100px;
  padding-top: 0;
  padding-left: 0;
}

.frame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
}

.calendar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.meetingInfo {
  width: 90%;
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background: #fff;
  transition: 0.3s;
}

.meetingInforDetails {
  font-size: 8px;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
  margin: 10px;
}

button {
  margin-top: 10px;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  background-color: #6a8d73;
  border: none;
  border-radius: 4px;
  color: #fff;
}